* {
  margin: 0;
  padding: 0;
}

.calc-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 500px;
  border: 2px solid black;
  border-radius: 20px;
}

.display-num-container {
  position: absolute;
  left: 3%;
  top: 3%;
  width: 325px;
  height: 75px;
  border: 1px solid black;
  border-radius: 10px;
}

.clear-button-container {
  position: absolute;
  left: 3%;
  top: 25%;
}

.clear-button {
  width: 225px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
}

.clear-button:hover {
  background-color: red;
  color: white;
  transition: 1s;
}

button:active {
  transform: scale(0.95);
}

button {
  transition: 1s;
}
